html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  overflow: hidden;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: white;
  color: black;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
}

.carousel {
  max-width: 680px; /*640px width + 20px left padding + 20px right padding */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-navigation {
  position: relative;
}

.carousel-navigation a {
  position: absolute;
  top: 50%;
  transform: translateY(300%);
  display: 0 10px;
}

.carousel-navigation a:first-child {
  left: 0;
}

.carousel-navigation a:last-child {
  right: 0;
}

.carousel-slides {
  display: flex;
  transition: transform .5s ease;
}

.carousel-slides img {
  width: 640px;
  padding: 0 20px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .carousel-slide {
    flex: 0 0 calc(100% - 40px); /* Adjust width for smaller screens */
  }
}
