html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: skyblue;
  color: white;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

.carousel {
  max-width: 680px; /*640px width + 20px left padding + 20px right padding */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-navigation {
  position: relative;
}

.carousel-navigation a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-navigation a:first-child {
  left: 0;
}

.carousel-navigation a:last-child {
  right: 0;
}

.carousel-slides {
  display: flex;
}

.carousel-slides img {
  width: 640px;
  padding: 0 20px;
}
